#additionnal-info
    padding: 20px 40px

    // Typo
    h3
        font-size: 24px
        font-weight: bold

    p, h4, li
        color: $text-color-1
        font-size: 17px
        font-family: $font-stack-1
        margin-bottom: 0

    ul 
        list-style-type: "-"
        padding-left: 0

    
    // Block headers
    header
        margin-bottom: 15px
        h3
            display: inline

        .additionnal-info-icon
            width: 32px
            height: 32px
            display: inline
            .icon-details
                --main-color: #4caabe

    // Contact button
    button 
        @include round_button
        width: 80%
        margin: auto

        small
            font-size: 12px
            display: block
            margin: 0
            padding: 0
    

    // Map
    .map-container
        width: 100%
        padding: 0
        position: relative
        cursor: pointer

        img 
            border-radius: 15px
            max-width: 100%
            max-height: 100%

        .overlay
            background-color: rgba(0, 0, 0, 0.5)
            border-radius: 15px
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            z-index: -1


        .mag-indicator
            width: 20%
            height: 20%
            position: absolute
            top: 40%
            left: 40%
            --main-color: #ffffff


        // Map container on hover
        &:hover
            .overlay
                z-index: 100
