// Round button 
@mixin round_button ($bg-color, $fg-color)
    background-color: $bg-color
    border-radius: 2rem
    border: none
    color: $fg-color
    font-size: 22px
    font-weight: 600
    padding: 7px 0
    transition-property: background-color, color 
    transition-duration: 500ms
    
    &:hover
        background-color: $fg-color
        color: $bg-color




// Input field
@mixin input_field
    border-radius: 25px
    color: $text-color-1
    font-size: 18px
    font-weight: 500
    padding: 15px 25px

    &:focus
        background-color: darken(#fff, 25%)
        border: 2px solid #ffffff
        box-shadow: none